* {
    margin: 0px;
    padding: 0px;
}

.house-card {
    width: 20%;
    box-shadow: 2px 2px 10px gray;
    margin: 20px;
    border-radius: 5px;
}

.house-card:hover {
    box-shadow: 7px 7px 20px black;
}

.house-data {
    text-align: center;
    margin: 4px;
}
