.login-buttons {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
}
.login-title {
    text-align: center;
    color: skyblue;
}
.login-button {
    border: none;
    background-color: transparent;
    color: steelblue;
    font-size: 17px;
    margin: 5px;
}
.desc {
    text-align: center;
    margin: 50px 100px 30px 100px;
    font-size: 20px;
    color: dimgray;
}